body {
  font-family: Lato;
  background-color: white;
  color: black;
}

#search {
  float: right;
}
ul,
li {
  text-decoration: none;
}

a {
  color: #ed6e10;
}
label {
  color: #fff;
  font-weight: 300;
  font-family: cardo;
  text-transform: uppercase;
  font-size: 150%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
#splat-top {
  height: 35px;
  width: 35px;
}

#jumbo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.franchisesamerica.com%2F700x-%2Ffranchise_file%2F1192%2Fac5e3416e5bde5851905d2cd438873aedd0999d9.jpg&f=1&nofb=1");
  background-size: cover;
  background-position: bottom;
  height: 60vh;
  max-width: 1000vh;
  background-attachment: fixed;
  bottom: 20px;
}

/* BUTTONS */

.btn:link,
.btn:visited,
button[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  cursor: pointer;
  color: #fff;
  margin-top: 10px;
}
.btn-full:link,
.btn-full:visited,
button[type="submit"] {
  background-color: #ed6e10;
  border: 1px solid #ed6e10;
  color: #fff;
  margin-right: 15px;
}
.btn:hover,
.btn:active,
button[type="submit"]:hover,
button[type="submit"]:active {
  background-color: #cf6d17;
  cursor: pointer;
}
.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* WORKOUT CARDS */

div #whole-card,
div #whole-card-workout {
  margin-left: 25%;
  padding: 20px;
  width: 50%;
}

.card-text {
  white-space: pre;
}

#footer {
  background-color: rgb(235, 232, 232);
}
